.marginTop-100{
	margin-top: 100px;
}

.marginTop-20{
	margin-top: 20px;
}

.marginBottom-10{
	margin-bottom: 10px;
}

.remove-padding-left{
	padding-left: 0px!important;
}
.remove-padding-right{
	padding-right: 0px!important;
}

.text-black{
	color:#000!important;
	font-weight: 500!important;
    text-decoration: none!important;
}